<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kelompok06_RPL.mediapad">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE">

    </uses-permission>
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_depan"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo_depan"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mediapad">
        <activity
            android:name=".MusicPlayer"
            android:exported="false" />
        <activity
            android:name=".VideoPlayerActivity"
            android:configChanges="orientation|screenSize|layoutDirection|screenLayout|smallestScreenSize|keyboardHidden|uiMode"
            android:excludeFromRecents="true"
            android:exported="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".VideoFileActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PlayListActivity"
            android:exported="false" />
        <activity
            android:name=".MusikActivity"
            android:exported="false" />
        <activity
            android:name=".BrowseActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>